@import "~bootstrap/dist/css/bootstrap.min.css";

div li {
  list-style: none;
  padding: 0 1rem 0 1rem;
}

li:nth-child(odd) {
  background-color: rgba(255, 255, 0, 0.466);
  /* color: black; */
}

ul {
  padding-inline-start: 0 !important;
}
